<a href="https://colab.research.google.com/github/ajrianop/Python/blob/main/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **API**

## **Libraries**

In [2]:
!pip install nba_api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nba_api
  Downloading nba_api-1.1.13-py3-none-any.whl (255 kB)
     |████████████████████████████████| 255 kB 4.2 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nba_api) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nba_api) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nba_api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nba_api) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nba_api) (2.10)
Installing collected packages: nba-api
Successfully installed nba-api-1.1.13

In [24]:
import pandas as pd

## **Information from nba_api**

We are going to call the data `teams` in the nba_api an print the getting information

In [5]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

In [8]:
#Get the information in teams from nba_api
nba_teams=teams.get_teams()
nba_teams[:2]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946}]

In [11]:
from nba_api.stats.static import players
nba_players=players.get_players()
nba_players[:3]

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False}]

To create a dataframe with the information we are going to create a function which convert the dictionary into a dataframe

In [27]:
#Function to create a dataframe with the information of a collection of dictionaries
def df_nba(list_dict):
  '''
  Creating a dictionary with values list with the information of each dictionary
  in list_dict
  '''
  keys=list_dict[0].keys()
  dict_todf={key:[] for key in keys}
  for dict_inlist in list_dict:
    for key in dict_inlist:
      dict_todf[key].append(dict_inlist[key])
  '''
  Building a dataframe with the dictionary
  '''
  df_info=pd.DataFrame(dict_todf)
  #df_info.head()
  return df_info

Using the previous two dataframes `nba_teams` and  `nba_players`

In [28]:
df_teams=df_nba(nba_teams)
df_teams.sample(3)

,id,full_name,abbreviation,nickname,city,state,year_founded
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [29]:
df_players=df_nba(nba_players)
df_players.sample(3)

         id        full_name first_name   last_name  is_active
446    1863     Earl Boykins       Earl     Boykins      False
1328  76719  Dick Fitzgerald       Dick  Fitzgerald      False
1090  76585    Harry Donovan      Harry     Donovan      False