<a href="https://colab.research.google.com/github/ajrianop/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas**

## **Using a .csv file to create a pandas file:**

To connect out Google drive it is necessary to write the following code.
**Remark:** If the .ipynb file was created by other person we need to create a direct access in our unit in drive to run the code properly.

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

We have to find the path where our .csv file is in order to create the data to run using pandas.

In [ ]:
csv_path="/content/gdrive/MyDrive/Programming Topics/Python Basics/ex4.csv"
df=pd.read_csv(csv_path)

In [ ]:
#Let us print the first three elements in the df
df.head(3)

                  Day  ONE_DAY_PRECIPITATION
0  2020-06-01 0:00:00                    1.0
1  2020-06-02 0:00:00                    5.6
2  2020-06-03 0:00:00                    4.1

## Creating a dataframe: 
To start and work with dataframes we are going to use a library called `pandas` so that, we have to initialize this library and we called `pd`.

What a dataframe is?
A dataframe is a matrix where we put information in a certain order, it is described with rows and columns, and are very usedul to organize data.

In [ ]:
'''
We can name the library pandas whatever we want, so we could name as 'lib' an
use this to call as command:
'''
import pandas as lib

df=lib.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Let us define the pandas library as `pd` as the common use.

In [ ]:
import pandas as pd

In [ ]:
#Info to creata a dataframe
songs={'Album': ['Master of Puppets', 'Countdown to Extinction', 'Back in Black'],
       'Released': [1986, 1992, 1980], 'Lenght' : ['00:54:44','01:05:37','00:42:11']}
songs_frame=pd.DataFrame(songs)
songs_frame

                     Album  Released    Lenght
0        Master of Puppets      1986  00:54:44
1  Countdown to Extinction      1992  01:05:37
2            Back in Black      1980  00:42:11

We can extract the column `Album` with as follow:

In [ ]:
#New dataframe with one columns
Albums=songs_frame[['Album']]
Albums

                     Album
0        Master of Puppets
1  Countdown to Extinction
2            Back in Black

In [ ]:
#Subdataframe with several columns
AlbumTime=songs_frame[['Album','Lenght']]
AlbumTime

                     Album    Lenght
0        Master of Puppets  00:54:44
1  Countdown to Extinction  01:05:37
2            Back in Black  00:42:11

## **Use of .iloc and .loc**

Let us use another library called `seaborn` an let us import a dataset in order to study pandas

In [ ]:
from seaborn import load_dataset
df = load_dataset("exercise")
#This command print the first five rows
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

### ***.iloc***
The method .iloc allows us to choose rows or columns according to its location. When we use .iloc on a dataframe, we obtain a Pandas.Series:

#### **To choose some rows:**

In [ ]:
#To obtain the first two rows
df.iloc[0:2]

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest

In [ ]:
#To obtain the rows 2 and 3
df.iloc[2:4]

   Unnamed: 0  id     diet  pulse    time  kind
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest

In [ ]:
#To obtain the rows 4, 7, 16 and 21
df.iloc[[4,7,16,21]]

    Unnamed: 0  id     diet  pulse    time  kind
4            4   2  low fat     92  15 min  rest
7            7   3  low fat     97  15 min  rest
16          16   6   no fat     83  15 min  rest
21          21   8   no fat     92   1 min  rest

In [ ]:
#To obtain the rows 4, 21, 7 and 16 (Note that the order is important)
df.iloc[[4,21,7,16]]

    Unnamed: 0  id     diet  pulse    time  kind
4            4   2  low fat     92  15 min  rest
21          21   8   no fat     92   1 min  rest
7            7   3  low fat     97  15 min  rest
16          16   6   no fat     83  15 min  rest

#### **To choose some columns:**

In [ ]:
#To obtain the first two columns
df.iloc[: , 0:2]

    Unnamed: 0  id
0            0   1
1            1   1
2            2   1
3            3   2
4            4   2
..         ...  ..
85          85  29
86          86  29
87          87  30
88          88  30
89          89  30

[90 rows x 2 columns]

In [ ]:
#To obtain the columns 2 to 4
df.iloc[: , 2:5]

       diet  pulse    time
0   low fat     85   1 min
1   low fat     85  15 min
2   low fat     88  30 min
3   low fat     90   1 min
4   low fat     92  15 min
..      ...    ...     ...
85   no fat    135  15 min
86   no fat    130  30 min
87   no fat     99   1 min
88   no fat    111  15 min
89   no fat    150  30 min

[90 rows x 3 columns]

In [ ]:
#To obtain the columns 0, 3 and 5
df.iloc[: , [0,3,5]]

    Unnamed: 0  pulse     kind
0            0     85     rest
1            1     85     rest
2            2     88     rest
3            3     90     rest
4            4     92     rest
..         ...    ...      ...
85          85    135  running
86          86    130  running
87          87     99  running
88          88    111  running
89          89    150  running

[90 rows x 3 columns]

In [ ]:
#To obtain the columns 0, 5 and 3 (Note that the order is important)
df.iloc[: , [0,5,3]]

    Unnamed: 0     kind  pulse
0            0     rest     85
1            1     rest     85
2            2     rest     88
3            3     rest     90
4            4     rest     92
..         ...      ...    ...
85          85  running    135
86          86  running    130
87          87  running     99
88          88  running    111
89          89  running    150

[90 rows x 3 columns]

### ***.loc***
The methor .loc has two differents description:


1.   We can choose rows and columns based on a label.
2.   We can choose rows and columns based on a condition.

When we use .loc on a dataframe, we obtain a Pandas.Series:

In [ ]:
new_df=df.loc[4:10]
new_df

    Unnamed: 0  id     diet  pulse    time  kind
4            4   2  low fat     92  15 min  rest
5            5   2  low fat     93  30 min  rest
6            6   3  low fat     97   1 min  rest
7            7   3  low fat     97  15 min  rest
8            8   3  low fat     94  30 min  rest
9            9   4  low fat     80   1 min  rest
10          10   4  low fat     82  15 min  rest

The following two codes are related to the use of .loc and .iloc in a dataframe filtered by means .loc method.

In [ ]:
'''
We are going to call the information according to the index
in the dataframe. located in the index 6
'''
new_df.loc[6]

Unnamed: 0          6
id                  3
diet          low fat
pulse              97
time            1 min
kind             rest
Name: 6, dtype: object

In [ ]:
'''
We are going to call the information according to the position
in the dataframe. located in the position 6
'''
new_df.iloc[6]

Unnamed: 0         10
id                  4
diet          low fat
pulse              82
time           15 min
kind             rest
Name: 10, dtype: object

#### ***.loc according to a label we can obtain a Pandas.Series***

In [ ]:
df.loc[: , 'id']

0      1
1      1
2      1
3      2
4      2
      ..
85    29
86    29
87    30
88    30
89    30
Name: id, Length: 90, dtype: int64

In [ ]:
df.loc[: , ['id', 'time', 'kind']]

    id    time     kind
0    1   1 min     rest
1    1  15 min     rest
2    1  30 min     rest
3    2   1 min     rest
4    2  15 min     rest
..  ..     ...      ...
85  29  15 min  running
86  29  30 min  running
87  30   1 min  running
88  30  15 min  running
89  30  30 min  running

[90 rows x 3 columns]

In [ ]:
'''
The information give the rows from 20 to 25
and columns from 'id' to 'pulse'
'''
df.loc[20:25 , 'id':'pulse']

    id    diet  pulse
20   7  no fat     90
21   8  no fat     92
22   8  no fat     94
23   8  no fat     95
24   9  no fat     97
25   9  no fat     99

#### ***.loc according to a condition we can obtain a Pandas.Series***

In [ ]:
in_rest= df.loc[: , 'kind'] == 'rest'
in_rest

0      True
1      True
2      True
3      True
4      True
      ...
85    False
86    False
87    False
88    False
89    False
Name: kind, Length: 90, dtype: bool

In [ ]:
df_in_rest=df[in_rest]
df_in_rest.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

## **Some methods**

Let us use another dataset in the seaborn library:

In [ ]:
df1 = load_dataset('car_crashes')
df1.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

Unique methods allows us to see what are the unique values in a columns, this gives as a result a Pandas.Series

In [ ]:
df1['abbrev'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

We wan to re-index a dataframe. Let us see songs_frame and after that the dataframe with a new index

In [ ]:
songs={'Album': ['Master of Puppets', 'Countdown to Extinction', 'Back in Black'],
       'Released': [1986, 1992, 1980], 'Lenght' : ['00:54:44','01:05:37','00:42:11']}
songs_frame=pd.DataFrame(songs)
songs_frame

                     Album  Released    Lenght
0        Master of Puppets      1986  00:54:44
1  Countdown to Extinction      1992  01:05:37
2            Back in Black      1980  00:42:11

In [ ]:
'''
New index for songs_frame
'''
new_index=['a','b','c']
songs_frame.index=new_index
songs_frame

                     Album  Released    Lenght
a        Master of Puppets      1986  00:54:44
b  Countdown to Extinction      1992  01:05:37
c            Back in Black      1980  00:42:11