<a href="https://colab.research.google.com/github/ajrianop/Programming_Topics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

## ***Strings, Lists,Tuples, Sets and Dictionaries***

### ***Strings***

In [1]:
#Uses of strings:
s="My name is Monster"
#We want to extract all the even entries in the string
even_s=s[::2]
print(even_s)

M aei ose

In [2]:
#To concatenate we use the + sign, in order to generate new words
new1=s+' and my lastname is Grill'
print('new1 is:', new1)
#To generate horizontal space, write in the string \n
new2="We have that all problems are:\n 1. We don't have any time"
print('new2 is:', new2)
#To generate tab space write in the string \t
new3="We have that all problems are:\t 1. We don't have any time"
print('new3 is:', new3)
#To put a backslash write in the string \\
new4="We have that all problems are:\\ 1. We don't have any time"
print('new4 is:', new4)

new1 is: My name is Monster and my lastname is Grill
new2 is: We have that all problems are:
 1. We don't have any time
new3 is: We have that all problems are:	 1. We don't have any time
new4 is: We have that all problems are:\ 1. We don't have any time

In [3]:
#Some methods that we can use with Strings:
#upper
print("upper method: ", "I can't get it".upper())
#.find()
print("find method: ", "now the numbers is: 0123456".find('4'))
#.replace()
print("replace method: ","My name is Alfred".replace('Alfred', 'James'))

upper method:  I CAN'T GET IT
find method:  24
replace method:  My name is James

#### Some Examples

In [4]:
#What is the result of the following?
3 + 2 * 2

7

In [5]:
#Let us print some information of the string
name = 'Lizz'
print(name[0:2])

Li

In [6]:
#Let us print some information of the string
var = '01234567'
print(var[::2])

0246

In [7]:
#What is the result of the following?
'1'+'2'

'12'

In [8]:
#Convert the following string to uppercase
myvar = 'hello'
myvar.upper()

'HELLO'

### ***Tuples***
Are represented by (), and every element in there are described by means an index accordinf to the entry. This are immutable, so we cannot change the information in there.**texto en negrita**

In [9]:
t=(0,21,"hi", True)
t

(0, 21, 'hi', True)

In [10]:
#We cannot change the information in each entry
#So we cannot run the following
#t[2]="Nothing"

In [11]:
#To call the information in the index 2, we use:
t[2]

'hi'

In [12]:
#We can put in the entries of the tuples:
#Tuples, strings, lists, integers, floats...
new_t=((0,1), "My name", 22, 0.123, [0,123, 24, "Hi"])
new_t

((0, 1), 'My name', 22, 0.123, [0, 123, 24, 'Hi'])

In [13]:
#To slicing the tuple
new_t[3:5]

(0.123, [0, 123, 24, 'Hi'])

In [14]:
#Now we want to sort the following tuple
des_num=(0,34,2,1,59,4,2)
#To sort the previous tuple (in a descreasing way), we have that
ordered_num=sorted(des_num, reverse=True)
#We can note that using the sorted function the tuple change to a list type
ordered_num

[59, 34, 4, 2, 2, 1, 0]

### ***Lists***
This are sorted arrays that are written with [], they are mutable arrays that we can use to save information in each entry.

In [15]:
l=[0,23,"name" ,[21,"nothing"], 26]
l

[0, 23, 'name', [21, 'nothing'], 26]

In [16]:
#Some method for lists:
#To extend the list with another list:
l.extend([0,"new"])
print("Extend method: ", l)
#Other way to extend a list
print("We can extend in other way:", l+[1,"new 2"])
L=[0,23,"name" , 26]
L.extend([12,1])
#In order to add
print(L)
#We can note if we redefine a variable or type list as follows
#we are going to obtain an object without information
llist=L.extend([5,4])
print("llist give us: ", llist)

Extend method:  [0, 23, 'name', [21, 'nothing'], 26, 0, 'new']
We can extend in other way: [0, 23, 'name', [21, 'nothing'], 26, 0, 'new', 1, 'new 2']
[0, 23, 'name', 26, 12, 1]
llist give us:  None

In [17]:
#To clone a list
l1=l[:]
#So we can change the information without change information in l
print("old l1:", l1)
l1[0]=3
#We change the first entry to 3
print("new l1:", l1)
#To add a new element to the list
l1.append([2,1])
print("Adding a new element to thee list",l1)

old l1: [0, 23, 'name', [21, 'nothing'], 26, 0, 'new']
new l1: [3, 23, 'name', [21, 'nothing'], 26, 0, 'new']
Adding a new element to thee list [3, 23, 'name', [21, 'nothing'], 26, 0, 'new', [2, 1]]

In [18]:
#We can delete and element in the list
A = ["grunge", 10, 1.2]
print('Before change:', A)
A[0] = 'Indie rock'
print('After change:', A)
#Using the function del
print('Before change:', A)
del(A[0 ])
print('After change:', A)

Before change: ['grunge', 10, 1.2]
After change: ['Indie rock', 10, 1.2]
Before change: ['Indie rock', 10, 1.2]
After change: [10, 1.2]

In [19]:
#Sometimes it will be necessary to convert a string in a list, so a function that allows us to describe this is:
string="Sometime the music is everything, every song every lyrics, is a magical place to relax your min"
#The function to create a list with every word is given by:
string.split()
#If our string is separated by , or othe sign, we can use
string2="21/243/03/12/16"
string3="92,32,03,4,82"
#Use the function split, but dividing the string by means the respective symbol:
print("Creating a list splitting by /", string2.split('/'))
print("Creating a list splitting by ,", string3.split(','))

Creating a list splitting by / ['21', '243', '03', '12', '16']
Creating a list splitting by , ['92', '32', '03', '4', '82']

#### Some examples:

In [20]:
#Extract the last element, two forms
A=(0,1,2,3)
A[-1]
A[3]

3

In [21]:
#slicing the list
B=["a","b","c"]
B[1:]

['b', 'c']

### ***Sets***
A set is a collection of elements, in python is written with {}.

In [22]:
#Given a set
set0={1,23,4,61,2,4}
#Given a list, we can convert this in a set
list0=[0,23,"name" ,21,"nothing", 26]
set01=set(list0)
set01
#If we consider list or tuples as elements in the set, we cannot convert the list into a set
#The followinf code generates an error
'''list2=[0,23,"name" ,[21,"nothing"], 26]
set02=set(list1)
set02'''
#We want to add values to the set01, so
set01.add("new value")
print("Adding elements\n", set01)
#Note, if we add the same element again, nothing change
set01.add("new value")
print("Adding elements with the same name in the set\n", set01)
#We can remove elements, only using the name of the elemet
set01.remove(26)
print("Removing elements", set01)

Adding elements
 {0, 'name', 'nothing', 'new value', 21, 23, 26}
Adding elements with the same name in the set
 {0, 'name', 'nothing', 'new value', 21, 23, 26}
Removing elements {0, 'name', 'nothing', 'new value', 21, 23}

We have some logic operation between sets, so let us describe some of this function

In [30]:
#Intersection
inter= set0 & set01
print("intersection one way", inter)
#Other way to find the intersection
inter2=set0.intersection(set01)
print("intersection one way", inter2)

intersection one way {23}
intersection one way {23}

In [28]:
#difference  between the set0 and set01
#In this case, we vanish the element of the intersection in the set0
dif=set0.difference(set01)
dif

{1, 2, 4, 61}

In [31]:
#The union of set, correspond to 
uni=set0.union(set01)
uni

{0, 1, 2, 21, 23, 4, 61, 'name', 'new value', 'nothing'}

In [37]:
#We can return if a set is a subset of other (function that we use .issubset())
#and also is any set contains all the elements of other set (function that we use .issuperset())
set1={1,2,3,4,5,6}
set2={7,8,9,10}
set3={2,3}
set4={8,10}
print("Is the set1 contained in set2?: ", set1.issubset(set2))
print("Do the set1 contain the set2?: ", set1.issuperset(set2))
print("Is the set4 contained in set2?: ", set4.issubset(set2))
print("Do the set1 contain the set3?: ", set1.issuperset(set3))

Is the set1 contained in set2?:  False
Do the set1 contain the set2?:  False
Is the set4 contained in set2?:  True
Do the set1 contain the set3?:  True

In [ ]:
# set cannot have elements which are duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
sete={2,4,10,20}
my_set.union(sete)
my_set

#### Some examples:

### ***Dictionaries***
A dictionary is described by elements which are characterized by a key and a value, this object is described with {key: value}. We can implement this in order to find a value according to its key.

In [3]:
#We can define  keys as numbers, strings or tuples, we cannot put lists or set as keys
#dic={key:value}
dic={"a":"Andres","b": "Blanca", "c": "Carlos", "d":"Diego"}
#To call the value of "c"
print("To call the value of 'c' ", dic["c"])
#To call all the keys
print(dic.keys())
#To call all the values
print(dic.values())
#dictionary defined with keys as typles
dic2={(0,0): "AC/DC", (0,1): "Metallica", (1,0): "The White Stripes", (1,1): "Megadeth"}
dic2
#We cannot define keys with lists, the following code, generates an error
#dic2={[0,0]: "AC/DC", (0,1): "Metallica", (1,0): "The White Stripes", (1,1): "Megadeth"}

To call the value of 'c'  Carlos
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['Andres', 'Blanca', 'Carlos', 'Diego'])

{(0, 0): 'AC/DC',
 (0, 1): 'Metallica',
 (1, 0): 'The White Stripes',
 (1, 1): 'Megadeth'}

It is very important to remind that keys in dictionaries are unique, but values not necessarily, so you can write the same value for differents keys.

In [7]:
#In order to add more information for dic1, we only need the following
dic["e"]= "Elena"
print("Dictionary with the new element: ",dic)
#To delete
del(dic["e"])
print("Deleting the key 'e': ", dic)

Dictionary with the new element:  {'a': 'Andres', 'b': 'Blanca', 'c': 'Carlos', 'd': 'Diego', 'e': 'Elena'}
Deleting the key 'e':  {'a': 'Andres', 'b': 'Blanca', 'c': 'Carlos', 'd': 'Diego'}

In [8]:
#We can also find an object in the dictionary, so
Ain=("a" in dic)
print("the letter 'a' is in the dictionary: ", Ain)
Zin=("z" in dic)
print("the letter 'z' is in the dictionary: ", Zin)

the letter 'a' is in the dictionary:  True
the letter 'z' is in the dictionary:  False

## ***Conditions, Loops***

### ***Conditions***
Conditions are necessary to determine if something has an specific behaviour. So we have to compare with some referent values, in this case we use comparison operators in order to obtain a response which could be True or False (this is called as a boolean). We can compare by means:
<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

### ***If-elif-else statements***
This conditional are very useful if we want to worl with some branches, in order to determine if something is true, we can conclude some about this result. So a first use is related to an if statement, if-else statements or if-elif-else statements.

In [3]:
#If statement
age=12

if age<18:
  print("You cannot enter to this place.")

You cannot enter to this place.

In [4]:
#If else statement
age=19
if age<18:
  print("You cannot enter to this place.")
else:
  print("Welcome to this wonderful place.")

Welcome to this wonderful place.

In [6]:
#If elif else statement
age=80
if age<18:
  print("You cannot enter to this place.")
elif age<70:
  print("Welcome to this wonderful place.")
else:
  print("Welcome to this wonderful place.\n Take care of your health.")

Welcome to this wonderful place.
 Take care of your health.